# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Virtual environment
venv/
.env/

# PyCharm settings
.idea/

# Jupyter
.ipynb_checkpoints/

# OS files
.DS_Store

# Outputs
outputs/**/*.png
outputs/**/*.jpg
outputs/**/*.pdf